%footer
  %a ©2023 Wypożyczalnia
  = image_tag("facebook2.svg", size: "20x20", :alt => "Facebook button", :class => "logo-footer")
  = image_tag("twitter.svg", size: "20x20", :alt => "Twitter button", :class => "logo-footer")