%nav#top-nav
  = link_to products_path do
    = image_tag("beach_logo.svg", size: "100x100", :alt => "Beach", :class => "logo-nav")
  #top-options
    %a About
    %a Contact
    = link_to "My Account", login_path(@user), class: "index-link"